@import url("Variables.css");

.head {
    margin: 5px 25px;
    padding: 15px 0;
    border-bottom: 1px solid var(--main-color);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 20px;
}




/* '========================== leftAside =============*/
.leftSection {
    width: 25%;
    position: sticky;
    height: 100% !important;
    top: 65px;
    bottom: 0;

}

.leftSection ul {
    padding: 10px;
}

.listItem {
    padding: 15px;
    margin-bottom: 15px;
    font-size: 20px;
    cursor: pointer;
}

.active {
    border-left: 2px red solid !important;

    & a {
        color: red !important;
    }
}

/* //'===========================' */
.rightSection {
    width: 75%;
    padding: 20px 15px;
    border-left: 1px solid var(--main-color);
}


/* //'========= Account-Info ==========' */
.userDetials {
    padding: 10px 15px;
    width: 75%;
    display: flex;
    align-items: center;
    margin-bottom: 15px;

}

.lable {
    width: 30%;
    font-size: 22px;
}

.Input {
    width: 65%;
    margin-left: auto;

    & input {
        padding: 10px;
    }
}

.InputGender {
    width: 65%;
    margin-left: auto;
    display: flex;
    align-items: center;
}

.male {
    width: 50%;
    background-color: orange;
    cursor: pointer;
    margin-right: 5px;
}

.female {
    width: 50%;
    cursor: pointer;
    background-color: orange;
}

.genderActive {
    background-color: red !important;
    color: red;
    cursor: pointer;
}

/* //!========= USerOrders ============================================' */
.orderCart {
    box-shadow: var(--box-shadow);
}

.resName {
    border-bottom: 2px solid var(--main-color);
    padding:10px 15px !important;
    border-bottom-left-radius: 20px;
}

.cardItem {
    width: 90%;
    box-shadow: var(--box-shadow);
    border-radius: 20px !important;
    overflow: hidden;
}

.itemImageContainer {
    width: 23%;
    height: 100px;
    background-color: aqua;
}

.itemImageContainer img {
    width: 100% !important;
    height: 100% !important;
}

.itemDetails {
    background-color: #FFF;
    padding: 5px 20px !important;

}

.itemPrice {
    color: var(--main-color);
}